# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore compiled executable
geebly

# Ignore external libraries
src/lgw/
src/imgui/
src/sfml/

# Ignore test suites
tests/
tearoom/

# Ignore fonts
*.ttf
res/

# Ignore external object files
build/imgui.o
build/imgui_draw.o
build/imgui_widgets.o
build/imgui-SFML.o
build/imgui_win.o
build/imgui_draw_win.o
build/imgui_widgets_win.o
build/imgui-SFML_win.o
cmake/
CMakeCache.txt

# Ignore debug build scripts
build/build-linux-internal.sh
build/build-win-internal.bat

# Ignore ImGui's window thing
imgui.ini

# Ignore all BIOSes/ROMs
*.gb
*.gbc
*.bin

# Ignore all Assembly source files and Symbol files
*.asm
*.sym

# Ignore the CPU to-do tracker file
cpu_todo.pdn

# Ignore SRAM/RTC save files
*.sav
*.rtc

# Visual Studio build
*.iobj
*.ipdb
*.pdb

# Settings file
*.json

# Ignore the UI implementation (for now, planned for a future version)
src/ui.hpp