# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore compiled executable
geebly

# Ignore external libraries
src/lgw/
src/imgui/
src/sfml/

# Ignore test suites
tests/
tearoom/

# Ignore fonts
*.ttf
res/

# Ignore debug build scripts
build-win-debug.bat

# Ignore all BIOSes/ROMs
*.gb
*.gbc
*.bin

# Ignore SRAM/RTC save files
*.sav
*.rtc

# Visual Studio build
*.iobj
*.ipdb
*.pdb

# Settings files
*.json
build-win-debug.ps1
