# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
precomp/

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore test suites
tests/
tearoom/

# Ignore fonts
*.ttf
res/

# Ignore debug build scripts
build-win-debug.bat
build-win-debug.ps1

# Ignore all BIOSes/ROMs
*.gb
*.gbc
*.bin

# Ignore SRAM/RTC save files
*.sav
*.rtc

# Visual Studio build
*.iobj
*.ipdb
*.pdb

# Settings files
*.json
build-win-debug.ps1
build-win-debug.bat

# Etc
*.sna
*.asm
src/memory_editor.h
src/devices/ppu/naive_ppu.h
imgui.ini
.vscode/
build-win.bat
.vscode/settings.json
src/devices/ppu/naive_ppu.hpp
imgui/
lgw/
docs/
bin/
debug-build-libs.ps1